{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>WebAuthnテスト</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <script src="{% static 'jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'jquery.qrcode.min-1.0.js' %}"></script>
    <script src="{% static 'webauthn.js' %}"></script>
    <script src="{% static 'http.js' %}"></script>
    <script src="{% static 'utils.js' %}"></script>
    <script>
        const list_url = "{% url 'list' %}";
        const delete_url = "{% url 'delete' %}";
        const qr_generate_url = "{% url 'qr_generate' %}";
        const qr_check_url = "{% url 'qr_check' %}";
        var isUVPAA = false;

        window.onload = function () {
            // FIDO対応か確認
            PublicKeyCredential.isUserVerifyingPlatformAuthenticatorAvailable(
            ).then((result) => {
                if (result) {
                    isUVPAA = true;
                }
                $('#isUVPAAStatus').text(isUVPAA);
            });
            // Conditional UI対応判定
            if (PublicKeyCredential.isConditionalMediationAvailable) {
                PublicKeyCredential.isConditionalMediationAvailable()
                    .then((result) => {
                        $('#isCMAStatus').text(result);
                        if (result) {
                            fireConditionalUi();
                        }
                    });
            }
        }
    </script>
</head>

<body>
    isUserVerifyingPlatformAuthenticatorAvailable: <span id="isUVPAAStatus"></span><br>
    isConditionalMediationAvailable: <span id="isCMAStatus"></span><br>
    <input type="username" id="register_username" value="tMorriss" autocomplete="webauthn" /><br>
    <button onclick="register(false)">NonResidentKey登録</button>&emsp;<button onclick="register(true)">ResidentKey登録</button><br>
    <button onclick="auth()">認証</button><br>
    <div id="resultMsg"></div>
    <button onclick="showList()">鍵一覧</button>
    <div id="tblList"></div>
    <button onclick="generateQR()">QR生成</button>
    <div id="qrcode"></div>
    <div id="conditionalUiEnabled"></div>
    <div id="verify_link"></div>
</body>

</html>
