{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>WebAuthnテスト</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <script src="{% static 'jquery-3.5.1.min.js' %}"></script>
    <script>
        function base64UrlEncode(data) {
            return btoa(data).replace(/\+/g, '-').replace(/\//g, '_').replace(/=/g, '');
        }

        function base64UrlDecode(encoded) {
            return atob(encoded.replace(/-/g, '+').replace(/_/g, '/') + "=".repeat(4 - encoded.length % 4));
        }

        function base64UrlToBuffer(base64) {
            let binary = atob(base64.replace(/-/g, '+').replace(/_/g, '/') + "=".repeat(4 - base64.length % 4));
            let len = binary.length;
            let bytes = new Uint8Array(len);
            for (let i = 0; i < len; i++) {
                bytes[i] = binary.charCodeAt(i);
            }
            return bytes
        }

        function bufferToBase64Url(buffer) {
            return btoa(String.fromCharCode.apply(null, new Uint8Array(buffer))).replace(/\+/g, '-').replace(/\//g, '_').replace(/=/g, '');
        }

        function bufferToString(buffer) {
            return String.fromCharCode.apply(null, new Uint8Array(buffer));
        }

        function attestation_options(options) {
            return $.post({
                url: "/attestation/options",
                data: JSON.stringify(options),
                contentType: 'application/json'
            })
        }

        function attestation_result(rawCredential) {
            credential = {
                id: rawCredential.id,
                response: {
                    attestationObject: bufferToBase64Url(rawCredential.response.attestationObject),
                    clientDataJSON: base64UrlEncode(bufferToString(rawCredential.response.clientDataJSON)),
                    transports: rawCredential.response.getTransports()
                },
                type: rawCredential.type
            }
            return $.post({
                url: "/attestation/result",
                data: JSON.stringify(credential),
                contentType: 'application/json'
            })
        }

        function assertion_options(options) {
            return $.post({
                url: "/assertion/options",
                data: JSON.stringify(options),
                contentType: 'application/json'
            })
        }

        function assertion_result(rawCredential) {
            credential = {
                id: rawCredential.id,
                response: {
                    authenticatorData: bufferToBase64Url(rawCredential.response.authenticatorData),
                    clientDataJSON: bufferToBase64Url(rawCredential.response.clientDataJSON),
                    signature: bufferToBase64Url(rawCredential.response.signature),
                    userHandle: bufferToString(rawCredential.response.userHandle)
                }
            }
            return $.post({
                url: "/assertion/result",
                data: JSON.stringify(credential),
                contentType: 'application/json'
            })
        }

        async function registerWithUVPAA() {
            $('#resultMsg').text("")
            // FIDO対応か確認
            PublicKeyCredential.isUserVerifyingPlatformAuthenticatorAvailable(
            ).then((result) => {
                if (result) {
                    var options = {
                        "username": $("#register_username").val(),
                    }
                    // optionsリクエスト
                    return attestation_options(options);
                }
            }).then((response) => {
                // レスポンスをデコード
                options = JSON.parse(response);
                if (options.statusCode != "2000") {
                    $('#resultMsg').text(response)
                    return
                }
                options.user.id = new TextEncoder().encode(options.user.id);
                options.challenge = new TextEncoder().encode(options.challenge);
                // 鍵生成
                return navigator.credentials.create({ publicKey: options });
            }).then((credential) => {
                // resultリクエスト
                return attestation_result(credential);
            }).then((response) => {
                $('#resultMsg').text(response);
            });
        }

        function authWithUVPAA() {
            $('#resultMsg').text("");
            // FIDO対応か確認
            PublicKeyCredential.isUserVerifyingPlatformAuthenticatorAvailable(
            ).then((result) => {
                if (result) {
                    var options = {
                        "username": $("#register_username").val(),
                    }
                    // optionsリクエスト
                    return assertion_options(options);
                }
            }).then((response) => {
                // レスポンスをデコード
                options = JSON.parse(response);
                if (options.statusCode != "2000") {
                    $('#resultMsg').text(response);
                    return;
                }
                options.challenge = new TextEncoder().encode(options.challenge);
                for (let i = 0; i < options.allowCredentials.length; i++) {
                    options.allowCredentials[i].id = base64UrlToBuffer(options.allowCredentials[i].id);
                }

                // 鍵生成
                return navigator.credentials.get({ publicKey: options });
            }).then((credential) => {
                // resultリクエスト
                return assertion_result(credential);
            }).then((response) => {
                $('#resultMsg').text(response);
            });
        }
    </script>
</head>

<body>
    <input type="username" id="register_username" value="tMorriss" /><br>
    <button onclick="registerWithUVPAA()">登録</button><br>
    <button onclick="authWithUVPAA()">認証</button><br>
    <div id="resultMsg"></div>
</body>

</html>
